body {
    background-image: url(../IMG/./pexels-codioful-7130557.jpg);
    text-align: center;
}

img {
    border-radius: 10000px;
    border-style: inset;
    border-color: brown;
    width: 25%;
    height: 25%;
}

h1 {
    font-family: "Combo", system-ui;
    font-weight: bolder;
    color: brown;
    font-size: 350%;
    margin: -1%;
}

h2 {
    font-family: "Combo", system-ui;
    color: brown;
    font-size: 200%;
    margin: 1%;
}

nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 21px;
}

a {
    color: rgb(73, 32, 32);
}

a {
    img {
        width: 30px;
        height: 30px;
        border-style: hidden;
    }
}
